/* h3 {
    color: yellow;
    background-color: red;
    text-align: center;
} */

/* color and background color */
/* h1 {
    color: purple;
    background-color: yellow;
} */

/* body {
    background-color: red;
} */

/* background image */
/* body {
    background-image: url("image.PNG");
    background-repeat: no-repeat;
} */

/* border */
/* h2 {
    color: blue;
    border-width: 10px;
    border-style: solid;
    border-color: red;
} */


/* margin and padding */
/* h2 {
    color: green;
    border: 5px solid red;
    border-radius: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 160px;
    padding: 30px;
} */

/* h1 {
    color: blue;
    text-decoration: underline overline line-through;
    text-shadow: 4px 2px 4px;
} */


/* Hover effect */
/* a {
    border: 2px solid blue;
    text-decoration: none;
    padding: 4px;
}

a:hover {
    background-color: blue;
    color: white;
} */

/* block and inline */
/* div {
    border: 2px solid red;
}

span {
    border: 2px solid purple;
} */

/* div {
    height: 100px;
    width: 50%;
    border: 2px solid red;
    overflow: auto;
} */
/* h1 {
    color: red;
}

h2 {
    color: red;
}

h3 {
    color: red;
}

h4 {
    color: red;
} */

/* class and id */
/* .class1 {
    color: yellow;
    background-color: black;
}

.class2 {
    color: white;
    background-color: darkred;
}

#id1 {
    color: aqua;
}

#id2 {
    color: black;
} */

/* table */

h2 {
    color: white;
    background-color: purple;
    text-align: center;
}

table,
th,
td {
    border: 2px solid purple;
    color: purple;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: center;
}

th,
td {
    padding: 4px;
}

ul {
    background-color: purple;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

li {
    display: inline;
    padding: 10px;
    margin: 6px;
}

li a:hover {
    color: black;
}